* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #a29d9d;
  color: #ffffff;
  line-height: 1.6;

    display: flex;            
    justify-content: center;   
    align-items: center;      
}

header {
  background: #1f1f1f;
  color:  beige;
  padding: 1rem;
  text-align: center;
  height: 150px;
  margin: 20px;
  padding: 1.5em;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #ffffffa4;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff4081;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-card h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.movie-card p {
  color: #b3b3b3;
  font-size: 0.9rem;
}

button {
  background: #15040bbd;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  /* transition: background 0.3s ease; */
}

button:hover {
  background: #e91e63;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

form input[type='text'] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 300px;
  margin-right: 10px;
}

form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: #ff4081;
  color: white;
  font-weight: bold;
  cursor: pointer;
  /* transition: background 0.3s ease; */
}

form button:hover {
  background: #e91e63;
}

@media (max-width: 600px) {
  form {
    flex-direction: column;
  }

  form input[type='text'] {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}

#root {
  width: 95%;
}

.movieMapTitle {
  font-size: 2em;
  color: beige;
  padding-bottom: 10px;
}

.addToListBtn, .searchBtn {
  display: inline-block !important;
  padding: 10px 20px !important;
  margin: 10px !important;
  background-color: #3d60ed !important;
  color: white !important;
  text-decoration: none !important;
  border-radius: 5px !important;
  transition: background-color 0.3s ease !important;
  font-size: 18px !important;
}

.addToListBtn:hover  {
  background-color: #00BFFF; /* Change color on hover */
}

.searchBtn:hover   {
  background-color: #00BFFF; /* Change color on hover */
}

